<header class="site-header text-xs-center img-background dark-bg">
  <div class="row">
    <div class="col-sm-12 vertical-30">
      <h1>THE SIMPLE CODE THAT SEPARATES MEN FROM BOYS</h1>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="header-lead">I have come to believe that the transition to manhood is not marked by age, it’s about something much more substantial. It’s about your mindset and your actions. It’s about assuming responsibility for your place in the world and stepping into a new reality—one defined by strength, purpose, and a code of honor.</p>
          <a href="#" class="btn btn-primary btn-lg">GET IT NOW</a>
        </div>
      </div>
    </div>
  </div>
</header>
