.carousel-control.left, .carousel-control.right {
  background: none;
}
.carousel-item {
  min-height: 590px;
  @include media-breakpoint-up(sm) {
    min-height: 600px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 500px;
  }
}
.carousel-indicators {
  bottom: -43px;
  li {
    height: 20px;
    width: 20px;
  }
  .active {
    width: 20px;
    height: 20px;
    margin: 1px;
  }
}
