/***************************************************************************************
* Typography
***************************************************************************************/
p {
  font-weight: 100;
  margin-bottom: $spacer/2;
}
::selection {
  background: rgba( $gray-dark, .9 );
  color: $brand-white;
}
.brand-font {
  font-family: $brand-font-family;
  font-weight: 900;
  margin-bottom: 2rem;
}
.btn {
  opacity: .9;
  border-width: 4px;
}
svg {
  width: 100%;
}
.text-muted {
  color: $gray-lighter;
}
.blockquote  {
  border-left: 0.25rem solid $brand-primary;
  margin-bottom: 0;
  .quote {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 1.5rem;
    color: $brand-gray;
  }
  cite {
    color: $body-color;
    font-style: normal;
    font-weight: 600;
  }
}
.blockquote-footer::before {
  display: none;
}
/***************************************************************************************
* Layout
***************************************************************************************/
section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.dark-bg {
  background-color: $brand-black;
  color: $brand-white;
}

.site-header {
  background-image: url(../images/header-bg.jpg);
  min-height: 783px;
  .header-lead {
    color: $gray-light;
  }
}
.section-author {
  background-image: url(../images/author-bg.jpg);
  min-height: 603px;
}
.section-promo {
  background-image: url(../images/promo-bg.jpg);
  min-height: 503px;
}
/***************************************************************************************
* General
***************************************************************************************/
.form-control {
  padding: 0.875rem 0.75rem;
}
.section-social {
  a {
    color: $brand-white;
  }
}
