/***************************************************************************************
* Layout
***************************************************************************************/
section, header {
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-breakpoint-up(sm) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.dark-bg {
  background-color: $brand-black;
  color: $brand-white;
  a {
    color: $brand-white;
  }
}

.site-header {
  background-image: url(../images/header-bg.jpg);
  min-height: 95vh;
  .header-lead {
    color: $gray-light;
  }
}
.section-author {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 1%, rgba(0, 0, 0, 0.75) 56%), url(../images/author-bg.jpg);
  background-position: 12% 50%;
  padding-top: 180px;
  @include media-breakpoint-up(sm) {
    padding-top: 100px;
    min-height: 603px;
    background-position: 50% 50%;
    background-image: url(../images/author-bg.jpg);
  }
}
.section-promo {
  background-image: url(../images/promo-bg.jpg);
  background-position: 70% 50%;
  min-height: 503px;
  @include media-breakpoint-up(sm) {
    background-position: 50% 50%;
  }
}
/***************************************************************************************
* General
***************************************************************************************/
.form-control {
  padding: 0.875rem 0.75rem;
}
.form-group {
  margin-bottom: ($spacer / 2);
}
.section-social {
  a {
    color: $brand-white;
  }
}
.header-icon {
  margin-bottom: ($spacer / 2);
}
.book-sale {
  @include media-breakpoint-up(md) {
    margin-top: ($spacer * 1.5);
  }
}
.book-vendor {
  width: 80%;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}
.btn-block-mobile {
  @include media-breakpoint-down(sm) {
    //display: block;
    width: 100%;
  }
}
.btn-lg, .btn {
  padding: 0.575rem 2rem;
  text-transform: uppercase;
  @include media-breakpoint-up(sm) {
    padding: 0.675rem 2rem;
    display: inline-block;
  }
}
