//$font-size-h1:               3.125rem;
//$font-size-h2:               1.875rem;
//$font-size-h3:               1.75rem !default;
//$font-size-h4:               1.5rem !default;
//$font-size-h5:               1.25rem !default;
//$font-size-h6:               1rem !default;


h1 {font-size: 2rem;}

@include media-breakpoint-up(sm) {
  h1 {font-size: $font-size-h1;}
}

/***************************************************************************************
* Typography
***************************************************************************************/
p {
  font-weight: 100;
  margin-bottom: $spacer/2;
}
::selection {
  background: rgba( $gray-dark, .9 );
  color: $brand-white;
}
.brand-font {
  font-family: $brand-font-family;
  font-weight: 900;
  margin-bottom: 2rem;
}
.btn {
  opacity: .9;
  border-width: 4px;
}
svg {
  width: 100%;
}
.blockquote  {
  border-left: 0.25rem solid $brand-primary;
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  @include media-breakpoint-up(md) {
    padding: 1.5rem 3rem;
  }
  .quote {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 1rem;
    color: $brand-gray;
    overflow: scroll;
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
  cite {
    color: $body-color;
    font-style: normal;
    font-weight: 600;
  }
}
.blockquote-footer::before {
  display: none;
}
